# Dependencies
/node_modules

# Environment
.env

# TypeScript
*.tsbuildinfo
next-env.d.ts

# NextJS
/.next
/.swc

# Vercel
/.vercel

# Testing
/coverage
/test-results
/playwright-report

# Miscellaneous
.DS_Store
